**List Operations:**
1. Create a list of integers containing numbers from 1 to 10.
2. Append the square of each number to the list.
3. Find and print the sum of all elements in the list.

In [15]:
# Create a list of integers containing numbers from 1 to 10.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# numbers = list(range(1, 11)) # Also we can use range function
#to do the same

print(numbers)

# Appending the square of each number to the list.
squared_numbers = []
for num in numbers:
    squared_numbers.append(num ** 2)

print(squared_numbers)

# Finding and printing the sum of all elements in the list.
sum_of_numbers = sum(squared_numbers)
print("Sum of all elements in the list:", sum_of_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Sum of all elements in the list: 385

**Tuple Operations:**
1.   Create a tuple containing the first five even numbers.
2.   Find and print the product of all elements in the tuple.

In [4]:
# Creating a tuple containing the first five even numbers.
even_numbers = (2, 4, 6, 8, 10)

# Finding and printing the product of all elements in the tuple.
product_of_numbers =  # Here we will store our final result
for num in even_numbers:
    product_of_numbers *= num

print("Product of all elements in the tuple:", product_of_numbers)

Product of all elements in the tuple: 3840

**Set Operations:**
1.   Create two sets of odd numbers between 1 to 10.
2.   Find and print the union of the two sets.
3.   Find and print the intersection of the two sets.

In [17]:
# Creating two sets of odd numbers between 1 to 10 using loop
# every time incrementing the value by +2
odd_numbers_set1 = {num for num in range(1, 11, 2)} #{1, 3, 5, 7, 9}

odd_numbers_set2 = {num for num in range(1, 8, 2)} #{1, 3, 5, 7}

#printing the two sets
print(odd_numbers_set1)
print(odd_numbers_set2)

#Using built in set union and intersection function
union_set = odd_numbers_set1.union(odd_numbers_set2)
print("Union of the two sets:", union_set)

intersection_set = odd_numbers_set1.intersection(odd_numbers_set2)
print("Intersection of the two sets:", intersection_set)

#Also we can do the same thing using operators
print("Doing the same thing using operators[and or]")
union_set = odd_numbers_set1 | odd_numbers_set2
print("Union of the two sets:", union_set)

intersection_set = odd_numbers_set1 & odd_numbers_set2
print("Intersection of the two sets:", intersection_set)

{1, 3, 5, 7, 9}
{1, 3, 5, 7}
Union of the two sets: {1, 3, 5, 7, 9}
Intersection of the two sets: {1, 3, 5, 7}
Doing the same thing using operators[and or]
Union of the two sets: {1, 3, 5, 7, 9}
Intersection of the two sets: {1, 3, 5, 7}

**Dictionary Operations:**
1. Create a dictionary where keys are the first five lowercase alphabets and values are their respective ASCII values.
2. Print the dictionary.

In [18]:
# Creating a dictionary where keys are the first five lowercase alphabets
# and values are their respective ASCII values
ascii_dict = {}
for i in range(5):
    key = chr(ord('a') + i)
    value = ord('a') + i
    ascii_dict[key] = value
#here ord('a') returns the ascii value of 'a' and in each iteration
#i am adding 'i' so that the next char can be obtained

# Printing the dictionary
print("Dictionary:", ascii_dict)

Dictionary: {'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101}

**Functional Programming:**
1. Define a function square(x) that returns the square of x.
2. Use the map function to apply the square function to each element in a list of integers from 1 to 10 and print the result.

In [11]:
# Defining a function square(x) that returns the square of x
def square(x):
    return x ** 2

# Using the map function to apply the square function to each
#element in a list of integers from 1 to 10
numbers = list(range(1, 11))
squared_numbers = list(map(square, numbers))

# Printing the result
print("Squared numbers:", squared_numbers)

Squared numbers: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]